// .homepge{
//     color: greenyellow;

// }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../Images/myheroimg.jpg") top right;
    background-size: cover;
    // background-position: center center;
    // background-attachment: fixed; /*only if you want*/
    position: relative;


    
  }
  
@media only screen and (max-width: 991px){
    
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../Images/myheroimg.jpg") top right;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /*only if you want*/
    position: relative;


    
  }

}
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-family: "Satisfy", serif;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #hero .btn-scroll {
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.6);
    animation: up-down 1s ease-in-out infinite alternate-reverse both;
  }
  
  #hero .btn-scroll i {
    font-size: 48px;
  }
  
  #hero .btn-scroll:hover {
    color: #ffb727;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 575px) {
    #hero h1 {
      font-size: 40px;
    }
    #hero h2 {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: white;
  }
  
  .section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
  }
  
  .section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
  
  @media (max-width: 575px) {
    .section-title h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }
    .section-title span {
      font-size: 38px;
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 20px 0;
    background-color: #f4f5f6;
    min-height: 40px;
    margin-top: 78px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 60px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }

  .homeicncls{
    color:#ffb727 ;
    font-size: 2em;
    font-weight: 200;
    }



.homepge h1 span{
    opacity:0;
    display: inline-block;
    animation: amin 1s linear forwards;
}



.homepge a.clickhere{
 
    color: #ffb727;
text-decoration: none;
   
}

.homepge a.clickhere:hover{
    color: #e9ba5b;
    cursor: pointer;
    font-size: 1.03rem;

}
  

@keyframes amin{
    0%{
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }
    
}


// // Text Transition Css
// .homepge .wrapper{
//   display: flex;
// }

// .homepge .wrapper .static-txt{
//   color: #ffb727;
 
//   font-size: 60px;
//   font-weight: 400;
// }

// .homepge .wrapper .dynamic-txts{

// // background: transparent;

// margin-left: 15px;
// height: 90px;
// line-height: 90px;
// overflow: hidden;
// }

// .homepge .dynamic-txts li{
//   color: #ffb727;
  
//   list-style: none;
//   font-size: 60px;
//   font-weight: 500;
//   position: relative;
//   top: 0;
//   animation: slide 6s steps(4) infinite;
 
// }

// @keyframes slide {
//   100%{
//     top: -360px;
//   }
// }

// .homepge .dynamic-txts li span{

//   position: relative;
//   margin: 5px 0;
//   line-height: 90px;
// }

// .homepge .dynamic-txts li span::after{
//   content: "";
//   position: absolute;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background: url("../Images/copy3.jpeg") no-repeat fixed;
//   // background-color: rgba(255, 0, 0, 0.5);
//   animation: typing 1.5s ease-in-out infinite alternate-reverse both;

//   // border-bottom: 0px solid #ffb727;
//   // animation: typing 1.5s steps(1) infinite ;

  
  
// }

// @keyframes typing {
//   40%, 60%{
//     left: calc(100% + 30px);
//   }
//   100%{
//     left: 0;
//   }
// }
