#contact{
    margin-top: 4em;
    margin-bottom: 7em;
}

// Heading Section 
.prjtcls section {
    padding: 0 0;
  }
  
  .prjtcls .section-bg {
    background-color: white;
  }
  
  .prjtcls .section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin-top: 6em;
  }
  
  .prjtcls .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
  }
  
  .prjtcls .section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }
  
  .prjtcls .section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }


// Heading Ends


// Contact Section Starts

.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
  }
  
//   .contact .info-box .bx {
//     font-size: 24px;
//     color: #ffb727;
//     border-radius: 50%;
//     padding: 15px;
//     background: #fff6e4;
//   }
  
#contact .info-box .maincontactcls a{
   

    text-decoration: none;
    font-size: 32px;
    color: #ffb727;
    border-radius: 50%;
    padding: 10px;
    background: #fff6e4;

}

  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .contact .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #687683;
    line-height: 1;
    margin: 0 8px;
    transition: 0.3s;
    padding: 14px;
    border-radius: 50px;
    border: 1px solid #dde1e4;
  }
  
  .contact .social-links a:hover {
    color: #fff;
    border-color: #ffb727;
    background: #ffb727;
  }
  
  .contact .react-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 35px;
  }
  
  .contact .react-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .react-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .react-email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .react-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .react-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .react-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .react-email-form input, .contact .react-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .react-email-form input::focus, .contact .react-email-form textarea::focus {
    background-color: #ffb727;
  }
  
  .contact .react-email-form input {
    padding: 10px 15px;
  }
  
  .contact .react-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .react-email-form button[type="submit"] {
    background: #ffb727;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
  }
  
  .contact .react-email-form button[type="submit"]:hover {
    background: #ffc85a;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .contactfrmcontainercls{
      margin-top: 2em;
      margin-bottom: 2em;
  }