.icon-bar {
    left: 5%;
    position: fixed;
    top: 49%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    z-index: 999;
    background: rgba(25, 28, 31, 0.8) !important;
    border-radius: 10px;
    cursor: pointer;
    // display: inline-block;
    
    margin: 0 10px;
    padding: 3px;
    transition: .2s ease-in;
    -o-transition: .2s ease-in;
    -ms-transition: .2s ease-in;
    -moz-transition: .2s ease-in;

    -webkit-transition: .2s ease-in;



  }
  
  /* Style the icon bar links */
  .icon-bar a {
    background: rgba(25, 28, 31, 0.8) !important;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;


    

  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background: rgba(25, 28, 31, 0.8) !important;
    color: #ffb727;
}
  
  .facebook {
    background: rgba(25, 28, 31, 0.8) !important;
    


    color: white;
  }
  
  .twitter {
    background: rgba(25, 28, 31, 0.8) !important;
       color: white;
  }
  
  .google {
    background: rgba(25, 28, 31, 0.8) !important;
       
     color: white;
  }
  
  .linkedin {
    background: rgba(25, 28, 31, 0.8) !important;
   
        color: white;
  }
  
  .youtube {
    background: rgba(25, 28, 31, 0.8) !important;
    color: white;
  }